body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(90deg, rgba(15, 139, 228, 0.64) 0%, rgba(69,193,252,1) 100%);
}
nav{
    height: 80px;
    width: 100%;
    text-align: center;
    font-size: 36px;
    color:white;
    line-height: 80px;
}

main{
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.sidebar{
    width:20%
}

.main-forms{
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#student-form, 
#teacher-form,
#subject-form,
#dept-form {
    display: none;
    width: 60%;
    min-height: 340px;
    background: #F9F9F9;
    padding: 40px;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


h3 {
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 20px;
    color:white;
}

input[type="text"], input[type="select"], input[type="date"]{
    border: 1px solid #ccc;
    background: #FFF;
    margin:0 0 12px;
    padding: 15px;
    border-radius: 8px;
    width: calc(100% - 30px);
}

select{
    border: 1px solid #ccc;
    background: #FFF;
    margin:0 0 12px;
    padding: 15px;
    border-radius: 8px;
    width: calc(100%);
}



button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: rgb(15, 139, 228);
    color: #FFF;
    margin: 20px 0 0 0;
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
}

.active-btn{
    background-color: rgb(15, 139, 228);
    color:#fff
}

#clear-btn{
    width: 100%;
    cursor: pointer;
    border: 1px solid rgb(15, 139, 228);
    background: #fff;
    color: #000;
    margin: 20px 0 0 0;
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
}

ul{
    padding: 0;
    text-decoration: none;
}

ul li{
    list-style: none;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin: 12px;
    background-color: rgb(241, 241, 242);
    color:rgb(22, 22, 22);
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
